.idea
coverage

.git
.gitignore
.gitmodules
.gitlab-ci.yml

log/**/*
!log/.gitkeep

tmp/**/*
!tmp/cache/.gitkeep
!tmp/pids/.gitkeep
!tmp/sessions/.gitkeep
!tmp/sockets/.gitkeep

docker
Dockerfile
docker-compose-local.yaml
env.*
!env.test
/packages/